<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <main>
    <%- include('../includes/navigation.ejs') %>
    <div class="container-fluid px-0 mt-4 bg-secondary ">
        <div class="row px-0">
          <div class="col m-auto px-0">
    

    <div id="slider4" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators">
          <li class="active" data-target="#slider4" data-slide-to="0"></li>
          <li data-target="#slider4" data-slide-to="1"></li>
          <li data-target="#slider4" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner ">
          <div class="carousel-item active bg-warning">
            <img class="d-block img-fluid " src="https://source.unsplash.com/wgq4eit198Q/700x400" alt="First Slide" >
            <div class="carousel-caption d-none d-md-block">
              <h3>Slide One</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, illo?</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="https://source.unsplash.com/WLUHO9A_xik/700x400" alt="Second Slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Slide Two</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, illo?</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="https://source.unsplash.com/4yta6mU66dE/700x400" alt="Third Slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Slide Three</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, illo?</p>
            </div>
          </div>
        </div>

        <!-- CONTROLS -->
        <a href="#slider4" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#slider4" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div style="margin-top:50px;"></div>







   
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="\<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                      
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price %></h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <% if (isAuthenticated) { %>
                        <div class="card__actions">
                            <%- include('../includes/addtocart',{product:product}) %>
                        </div>
                        <% } %>
                    </article>
                <% } %>
            </div>
            <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
            <% } else { %>
    
  
            <h1>No Products Found!</h1>
        <% } %>
    </main>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script>
    $('.carousel').carousel({
      interval: 3000,
      keyboard: true,
      pause: 'hover',
      wrap: true
    });

    $('#slider4').on('slide.bs.carousel', function () {
      console.log('SLIDE!');
    });

    $('#slider4').on('slid.bs.carousel', function () {
      console.log('SLID!');
    });

  </script>




<%- include('../includes/end.ejs') %>